{
    "presets": [
        ["env", {
            "targets": {
              "browsers": "last 2 Firefox versions, last 2 Chrome versions, last 2 Edge versions, last 2 Safari versions"
            }
          }],       
        "@babel/preset-env",
        "@babel/preset-react"   
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@src": "./src/",
                    "@assets": "./src/assets",
                    "@screens": "./src/screens",
                    "@atom": "./src/components/atom",
                    "@molecule": "./src/components/molecule",
                    "@icons": "./src/icons/",
                    "@fonts": "./src/assets/fonts/"
                }
            }
        ]
    ]
}