.faculty-main-content{
    background-color: #fff;

    .banner{
        height: 400px;
        overflow: hidden;
        background-image: url('../../assets/img/faculty-banner.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        .banner-main-content{
            margin-left: 10vw;
            color: #fff;
            width: 33vw;
            margin-top: 5vw;
            text-shadow: 0.5px 0.5px 4px #fff;
            h1{
                color: #333;
                font-size: 2vw;
            }
            p.sub-title-header{
                color: #333;
                font-weight: 600;
                font-size: 1.5vw;
            }
        }
    }

    

    .staff{
        border-top: 1px solid #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
        }
        .staff-data{
            display: flex;
            flex-direction: row;
            .staff-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .staff-group{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 300px;
                        img{
                            height: 200px;
                            width: 200px;
                            border-radius: 110px;
                            border: 1px solid #333;
                            margin: 10px auto;
                        }
                        span.name{
                            color: #333;
                            font-size: 20px;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        p.job-title{
                            margin: 5px;
                            color: #64001e;
                            font-size: 16px;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

}