.deanswelcome-main-content{
    
   
    
    .deanswelcome-content{
        background-color: #fff;
        padding: 60px 0 60px 0;
        p{
            margin: 0;
        }
        .content-title{
            h1{
                margin: 0;
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }

        .main-content{
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            .left{
                width: 30%;
                img{
                    width: 90%;
                }
                .sub{
                    p.name{
                        color: #64001e;
                        font-size: 20px;
                        font-weight: 600;
                        margin-top: 20px;
                    }
                    p.job-title{
                        font-style: italic;
                        color: #333;
                        font-size: 12px;
                    }
                }
            }
            .right{
                width: 70%;
                p{
                    font-size: 20px;
                    text-align: justify;
                    margin-bottom: 18px;
                    font-family: 'Avenir Light' , Arial, sans-serif;
                }
            }
        }

        
    }
}
