.alumni-main-content{
    background-color: #fff;

    .banner{
        height: 400px;
        overflow: hidden;
        background-image: url('../../assets/img/faculty-banner.JPG');
        background-size: cover;
        background-repeat: no-repeat;
        .banner-main-content{
            margin-left: 10vw;
            color: #fff;
            width: 33vw;
            margin-top: 5vw;
            text-shadow: 0.5px 0.5px 4px #fff;
            h1{
                color: #333;
                font-size: 2vw;
            }
            p.sub-title-header{
                color: #333;
                font-weight: 600;
                font-size: 1.5vw;
            }
        }
    }

    .alumni-testimonials{
        background-color: #f1f1f1;
        color: #fff;
        border-top: 1px solid #64001e;
        .content{
            display: flex;
            flex-direction: row;
            height: 700px;
            .alumni-data{
                padding-top: 50px;
                width: 55%;
                margin-left: 5%;
                h1.title{
                    padding-bottom: 1vw;
                    margin-bottom: 10px;
                    font-size: 35px;
                    border-bottom: 2px solid #64001e;
                    color: #333;
                    letter-spacing: 1px;
                }
                a{
                    background-color: #64001e;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 15px;
                    margin-top: 20px;
                    display: inline-block;
                    padding: 10px 20px;
                }
                p.sub{
                    color: #333;
                    font-size: 15px;
                }
                .alumni-data-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .alumni-group{
                        display: flex;
                        flex-direction: row;
                        .data{
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            width: 200px;
                            height: 200px;
                            img{
                                height: 120px;
                                width: 120px;
                                border-radius: 110px;
                                border: 1px solid #333;
                                margin: 10px auto;
                            }
                            span.name{
                                color: #333;
                                font-size: 20px;
                                font-weight: 600;
                                font-size: 14px;
                            }
                            p.job-title{
                                margin: 5px;
                                color: #64001e;
                                font-size: 13px;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
            .testimonials{
                background-color: #64001e;
                width: 40%;
                .slick-slider{
                    width: 100%;
                    margin: 0 auto;
                    .slick-prev{
                        display: none !important;
                    }
                    .slick-next{
                        display: none !important;
                    }
                    .slick-list{
                        height: 700px;
                        .slick-track{
                            height: 100%;
                            .testimonials-content{
                                text-align: center;
                                height: 700px;
                                img{
                                    width: 100%;
                                    height: 300px;
                                }
                                h2.name{
                                    margin: 0;
                                    padding: 15px 10px 10px 10px;
                                }
                                p.desc{
                                    margin: 0;
                                    font-size: 12px;
                                    font-style: italic;
                                    font-family: 'Times New Roman',sans-serif;
                                }
                                blockquote{
                                    font-size: 20px;
                                    text-align: center;
                                    font-family: 'Times New Roman',sans-serif;
                                    padding: 30px 0 20px;
                                    border: none;
                                    position: relative;
                                    font-style: italic;
                                }
                                blockquote:before{
                                    top: 0;
                                    left: -10px;
                                    font-size: 60px;
                                    content: "“";
                                    position: absolute;
                                }
                                blockquote:after{
                                    bottom: -45px;
                                    right: -15px;
                                    font-size: 60px;
                                    content: "”";
                                    position: absolute;
                                }
                                a{
                                    color: #64001e;
                                    background-color: #fff;
                                    text-decoration: none;
                                    padding: 10px 15px;
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .slick-dots{
                        bottom: 20px;
                        // margin-left: -27vw;
                        li{
                            width: 30px;
                            height: 30px;
                            button:before{
                                font-size: 20px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .alumni-class{
        background-color: #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #f1f1f1;
            color: #fff;
            letter-spacing: 1px;
        }
        p{
            font-size: 18px;
            color: #fff;
            margin-bottom: 60px;
        }
        .alumni-class-data{
            display: flex;
            flex-direction: row;
            .alumni-class-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .alumni-class-group{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 300px;
                        img{
                            height: 200px;
                            width: 200px;
                            border-radius: 110px;
                            margin: 10px auto;
                        }
                        span.name{
                            color: #fff;
                            font-size: 20px;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        p.job-title{
                            margin: 5px;
                            color: #f1f1f1;
                            font-size: 16px;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .alumni-stories{
        border-top: 1px solid #64001e;
        padding: 70px 0 100px 0;
        h1.title{
            padding-bottom: 1vw;
            margin: 0;
            font-size: 35px;
            border-bottom: 2px solid #64001e;
            color: #333;
            letter-spacing: 1px;
        }
        p{
            font-size: 18px;
            color: #333;
            margin-bottom: 60px;
        }
        .alumni-stories-data{
            display: flex;
            flex-direction: row;
            .alumni-stories-data-content{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .alumni-stories-group{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .data{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        width: 48%;
                        height: auto;
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);;
                        border-radius: 20px;
                        margin: 1%;
                        img{
                            height: 300px;
                            width: 100%;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                        .details{
                            padding: 10px 20px 10px 20px;
                            h2.title{
                                text-align: left;
                                font-size: 20px;
                            }
                            p.excerpt{
                                text-align: left;
                                text-align: justify;
                                font-size: 15px;
                                margin: 0;
                            }
                        }
                        .lower-details{
                            margin: 10px 0 20px 0;
                            a{
                                background-color: #64001e;
                                color: #fff;
                                text-decoration: none;
                                padding: 14px;
                                font-size: 15px;
                                display: inline-block;
                                opacity: 0.9;
                                box-shadow: #333;
                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }

}