.visionandmission-main-content{
     
     .visionandmission-content{
         background-color: #fff;
         padding: 60px 0 60px 0;
         p{
             margin: 0;
         }
         .content-title{
             h1{
                 margin: 0;
                 font-size: 30px;
                 font-weight: 600;
                 letter-spacing: 1px;
                 text-transform: uppercase;
             }
         }
         .vision{
             margin: 40px 0 40px 0;
             h2{
                 font-size: 25px; 
                 font-weight: 600;
                 letter-spacing: 1px;
                 color: #333;
                 border-bottom: 3px solid #64001e;
             }
             p{
                 color: #333;
                 text-align: justify;
                 font-size: 18px;
             }
         }
         .mission{
             margin: 40px 0 40px 0;
             h2{
                 font-size: 25px; 
                 font-weight: 600;
                 letter-spacing: 1px;
                 color: #333;
                 border-bottom: 3px solid #64001e;
             }
             p{
                 color: #333;
                 text-align: justify;
                 font-size: 18px;
             }
         }
     }
}
